<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <title>Cargar fichero de eventos</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="{{ url_for("static", filename="uoc_azul.png" ) }}" height="50" class="me-2">
          <!--svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"><title>Bootstrap</title><path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path></svg-->
          <span class="fs-4">Universitat Oberta de Catalunya</span>
        </a>
      </header>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cargar fichero de eventos</li>
        </ol>
      </nav>

      <div class="py-5 text-center">
        <h2>Cargar fichero de eventos</h2>
        <p class="lead">En esta sección se puede subir un fichero en formato xml que contenga los eventos de seguridad de un dispositivo con sistema operativo Windows para que sea procesado por el sistema de detección de anomalías. Al cargar el fichero, cada uno de los registros serán analizado por una red neuronal que determinará si se trata de una anomalía o no. Los resultados serán almacenados en Elasticsearch y podrán consultarse a través de Kibana.</p>
        <p class="lead">Para obtener este fichero xml, tendremos que acceder al "Visor de eventos" desde el menú de Windows y acceder a la categoría de Registros de Windows y luego seleccionar Seguridad. En la barra de herramientas del margen derecho, hacer click en Guardar todos los eventos como... y seleccionar el tipo de fichero xml.</p>
      </div>

      <div class="row g-5">
        <div class="col-md-12 col-lg-12">
          <form id="submit-file" action="" method="post" class="needs-validation" enctype="multipart/form-data">
            <div class="row g-3">
              <div class="col-sm-12">
                <input type="file" class="form-control form-control-sm" id="file" name="file" accept=".xml">
              </div>
            </div>
  
            <hr class="my-4">
  
            <button id="load-file" class="w-100 btn btn-primary btn-lg" type="submit">Cargar fichero</button>
            <div id="loading-file" class="d-none align-items-center mt-5">
              <strong>Procesando fichero...</strong>
              <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
          </form>
        </div>
      </div>

      <footer class="pt-3 mt-4 text-muted border-top">
        Alejandro Arzola García &copy; 2021
      </footer>
    </div>
  </main>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#submit-file").submit(function (e) {
        //stop submitting the form to see the disabled button effect
        //e.preventDefault();

        $("#load-file").prop("disabled",true);
        $("#loading-file").removeClass("d-none");
        $("#loading-file").addClass("d-flex");

        return true;
      });
    });
  </script>
</body>

</html>